{% extends "base.html" %}



{% block title %}Users{% endblock  %}

{% block style %}  
{% load static %}
<link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock  %}

{% block content %}




    <form class="form-group" action=''>
        <input type="text" class="form-control" name='name'>
        <button type="submit" class="btn btn-primary">Search</button>

    </form>




    <div class="col-md-4"> 
        {% for user_list in users %}  
            <div class="card bg-info ">
                <a href={% url 'profile' user_list.id %} class="profile-link">

                    {% if  user_list.profile_picture %}
                        <img src="{{user_list.profile_picture.url}}" class="image card-img-top rounded" >
                    {% else %}
                        {% load static %}
                        <img src="{% static 'images/default_user_picture.png' %}" class="image card-img-top rounded">
                    {% endif %}

                    <div class="card-body">
                        <h3 class="card-title">{{user_list}}</h3>
                        {% if user_list.birth_date %}
                            <h6 class="card-title">{{user_list.birth_date}}</h6>                    
                        {% endif %}
                        {% if user_list.quote %}
                            <p class="card-text">{{user_list.quote}}</p>
                        {% else %}
                            <p class="card-text">I don't talk to much</p>
                        {% endif %}


                        {% if user_list.trainer == user %}
                            <div class="d-grid gap-3">
                                <div class="p-1">
                                    <form action={% url 'add-day' id=user_list.id %}>
                                        <button class="btn btn-light">Give training</button>
                                    </form>      
                                </div>
                                <div >
                                    <form action={% url 'day-list-trainer' id=user_list.id %}>
                                        <button class="btn btn-dark">Training days</button>
                                    </form>  
                                </div>
                            </div>              
                        {% endif %}

                        {% if user != user_list and user_list.is_trainer and user.is_authenticated and user.trainer == None and not user.client_request %}
                            <form action={% url 'trainer-request' %} method="POST">
                                {% csrf_token %}
                                <button class="btn btn-success" name="id" value="{{user_list.id}}">Ask to train</button>
                            </form>
                        {% endif %}

                        {% if user_list.client_request.trainer == user %}
                            <div class="d-grid gap-3">
                                <div class="p-1">
                                    <form action={% url 'trainer-response-yes' %} method='POST'>
                                        {% csrf_token %}
                                        <button class="btn btn-success"  name="id" value="{{user_list.id}}" >Accept</button>
                                    </form>    
                                </div>
                                <div >
                                    <form action={% url 'trainer-response-no' %} method='POST'>
                                        {% csrf_token %}
                                        <button class="btn btn-danger" name="id" value="{{user_list.id}}" >Decline</button>
                                    </form>    
                                </div>
                            </div>
                        {% endif %}

                        {% if user.client_request.trainer == user_list %}
                            <form action={% url 'cancel-request' %} method='POST'>
                                {% csrf_token %}
                                <button class="btn btn-danger"  name="id" value="{{user_list.id}}" >Cancel</button>
                            </form>              
                        {% endif %}

                    </div>

                </a>
            
            </div>
            <br>
        {% endfor %}
    </div>



    <br>
    <div class="pagination">
        <span class="step-links">
            {% if users.has_previous %}
                <a class="btn btn-primary " href="?page={{ users.previous_page_number }}">{{ users.previous_page_number }}</a>
            {% endif %}

            <span class="current">
                <a class="btn btn-danger " href="?page={{ users.number  }}">{{ users.number }}</a>
            </span>

            {% if users.has_next %}
                <a class="btn btn-primary " href="?page={{ users.next_page_number }}">{{ users.next_page_number }}</a>
            {% endif %}
        </span>
    </div>

    {% if user.is_authenticated and not user.is_trainer %}
        <p>You want to be a trainer? <a href={% url 'edit-account' %}>Become one.</a> </p>
    
    {% endif %}

{% endblock  %} 